body {
    font-family: 'Terminal', sans-serif;
    color: rgb(1, 186, 1);
    background-color: black;
}

#header {
    display: flex;
    border-bottom: solid green 3px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    justify-content: space-between;
}

html {
    --top-spacing: 100px;
    scroll-padding-top: var(--top-spacing);
  }

  body {
    margin: var(--top-spacing) auto;
    
  }

#header-img {
    width: 4rem;
    height: auto;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

#navbar li {
    float: right;
    border-left: 1px solid #bbb;
}

#navbar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: #111;
}

#navbar li:first-child {
    border-left: none;
}

p{
  text-align: center;  
  text-justify: inter-word;
}

.video-container {
    width: 60%;
}

iframe{
    width: 100%;
}

.title{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}

#showcase{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

pre{
    background-color: #2a2a2a;
    width: fit-content;
    border-radius: 3px;
    padding: 7px;
}

.release{
    list-style-type: "- ";
}

h2{
    font-size: 1.2em; 
}

#email {
    background: 0;
    border: 0;
    outline: none;
    width: 80vw;
    max-width: 400px;
    font-size: 1.5em;
    transition: padding 0.3s 0.2s ease;
    color: green;
  
    &:focus {
      padding-bottom: 5px;
    }
  
    &:focus + .line {
      &:after {
        transform: scaleX(1);
      }
    }
  }
  
  .field {
    position: relative;
    margin: 15px 0;


    .line {
      width: 100%;
      height: 3px;
      position: absolute;
      bottom: -8px;
      background: black;
  
      &:after {
        content: " ";
        position: absolute;
        float: right;
        width: 100%;
        height: 3px;
        
        transform: scalex(0);
        transition: transform 0.3s ease;
        
        background: green;
      }
    }
  }
  
#submit{
    padding:0.5em 3em;
    border:0.16em solid green;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:400;
    color: green;
    text-align:center;
    transition: all 0.15s;
    background-color: black;
    }

    #submit:hover{
    color: black;
    border-color: black;
    background-color: green;
    }

    #submit:active{
    color: #7724c5e7;
    border-color: #7724c5d8;
    background-color: black;
    }

    li{
        padding-top: 5px ;
        padding-bottom: 5px ;
        }

    
.topnav {
    display: none;
}


@media   only screen and (max-width: 680px) {
    html {
        --top-spacing: 0px;
        scroll-padding-top: var(--top-spacing);
      }
    
      body {
        margin: var(--top-spacing) auto;
      }
    
    html, body {
        overflow-x: hidden;
    }

    #header-img-mobile {
        width: 2rem;
        height: auto;
    }

    #header {
        display: none;
    }

    .topnav {
        display: block;
    }

    /* navigation menu */
    .topnav {
        overflow: hidden;
        background-color: black;
        position: relative;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
    }

    /*  navigation menu links */
    .topnav a:not(.icon) {
        color: green;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        border-bottom: solid 2px green;
    }

    /* hamburger menu */
    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        color: green;
        padding: 22.6px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    /* background-color on mouse-over */
    .topnav a:hover {
        background-color: green;
        color: black;
    }

    /* active link (or home/logo) */
    .active {
        background-color: black;
    }
}